body{
	background-color:  #b3ff99;	
	direction: ltr;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    background-color: #004d00;
}

.flex-item {
    background-color: #006622;
    margin: 20px;
}

table{
	border: #004d00 solid 3px;
	width: 100%;
	padding: 0px;
	border-spacing: 0px;
    #border-collapse: separate;
}

th{
	color: white;
	padding: 10px;
	background-color: #006622;
	border: #004d00 solid 1px;
}

h1 {
	color: #006622;
	display: block;
	font-size: 3em;
	text-align: center;
	font-weight: bold; 
}

h2 {
	color: black;
	display: block;
	font-size: 1em;
	text-align: left;
	font-weight: bold; 
}

nav{
	font-size: 2em;
}

ul {
    list-style-type: none;

}




a:link{
	color: white;
	text-decoration: none;
}
a:visited{
	color: white;
	text-decoration: none;
}
a:hover{
	color: gray;
	text-decoration: none;
}
a:active{
	color: #b3ff99;
}


.pod_meni{
	table-layout: fixed;
	width: 70%;
	position: relative;
	top: 10px;
	left: 15%;
	border: #004d00 solid 1px;
}

.opravilo{
	table-layout: fixed;
	width: 70%;
	position: relative;
	top: 15px;
	left: 15%;
	border: black solid 1px;
}



.pm{
	padding: 5px;
	font-weight: normal;
	
}

.o{
	padding: 5px;
	font-weight: normal;
	color: black;
	background-color: white;
}

.obrazec {
	width: 70%;
    background-color: white;
    float: center;
    padding-bottom: 25px;
	padding-left: 50px;
    border: 2px solid #006622;
	position: relative;
	top: 25px;
	left: 15%;
}


#prijava_meni{
	position: relative;
	top: 20px;
}

#naslov_grafa{
	color: black;
	font-size: 1em;
	text-align: center;
	font-weight: normal; 
}

#graf{
	width: 70%;
	position: relative;
	top: 15px;
	left: 15%;
	border: 2px solid #004d00;
	background-color: white;
}

#registracija {
	width: 60%;
	position: relative;
	top: 15px;
	left: 20%;
    background-color: white;
    float: center;
	padding-top: 25px;
    padding-bottom: 25px;
	padding-left: 50px;
    border: 2px solid #006622;
}
