{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>To Do Likstek</title>
	<meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'todolistek/stil.css' %}" />
</head>
<body>

	<header>
		<nav>
			<ul class="flex-container">
				<li class="flex-item"><a href="{% url 'home' %}">TO DO LIKSTEK</a></li>
			</ul>
			<ul class="flex-container">
				<li class="flex-item"><a href="{% url 'urediOpraviala' %}">DODAJ OPRAVILO</a></li>
				<li class="flex-item"><a href="{% url 'grafAktivnosti' %}">IZRISI GRAF AKTIVNOSTI</a></li>
				<li class="flex-item"><a href="{% url 'nastavitve' %}">NASTAVITVE</a></li>
				<li class="flex-item"><a href="{% url 'prijava' %}">ODJAVA</a></li>

			</ul>
		</nav>
	</header>
	<section class="">
	{% block main %}
		test123
    {% endblock %}
	</section>
	<footer>
        <p>Jan Gersak, FRI UL, 2016/2017 ©</p>
    </footer>
	
</body>
</html>