{% extends "todolistek/base.html" %}

{% block main %}
<div class="opravilo">
	<div class="flex-container" >

		<table class="flex-item">
			<tr>
			<th><a>Kategorija</a></th>
			<th><a>Prioriteta</a></th>
			<th><a>Cas do izteka</a></th>
			<th><a>Zahtevnost</a></th>
			</tr>
		</table>

		<table class="flex-item" >
			<tr><th colspan="4" >Naloga</th></tr>
			<tr>
			<th>Sola</th>
			<th>8</th>
			<th>3.11.2016</th>
			<th>1,5</th>
			</tr>
			<tr><th colspan="4" >Narediti nalogo za MAT</th></tr>
		</table>
		
		<table class="flex-item" >
			<tr><th colspan="4" >Kolo</th></tr>
			<tr>
			<th>Telovadba</th>
			<th>4</th>
			<th>3.11.2016</th>
			<th>0.5</th>
			</tr>
			<tr><th colspan="4" >Kolesariti 30 minut</th></tr>
		</table>
		
		<table class="flex-item" >
			<tr><th colspan="4" >Pospravi</th></tr>
			<tr>
			<th>Higijena</th>
			<th>10</th>
			<th>7.11.2016</th>
			<th>2</th>
			</tr>
			<tr><th colspan="4" >Pospraviti in posesati sobo</th></tr>
		</table>
	</div>
</div>
{% endblock %}	

