{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Prijava</title>
	<meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'todolistek/stil.css' %}" />
</head>
<body>

	<h1>TO DO LISTEK</h1>
	
	<div id="prijava_meni">
	<table>
		<tr>
		<th>
			<form method="POST" action="home.html">
				Uporabnisko ime:  <input id="username" type="text" required/>
				Geslo:  <input id="password" type="password" required/> 
				<input class="gumb" type="submit" value="PRIJAVA" />
			</form>
		</th>
		<th>
			<form method="POST" action="registracija.html">
				<input class="gumb" type="submit" value="REGISTRACIJA" />
			</form></th>
		</tr>
	</table>
	</div>
	
	<footer>
        <p>Jan Gersak, FRI UL, 2016/2017 ©</p>
    </footer>
	
</body>
</html>