{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Registracija</title>
	<meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'todolistek/stil.css' %}" />
</head>
<body>

	<h1>Registracija</h1>
	
	<div class="obrazec">
		<form method="POST" action="prijava.html">
			Uporabnisko ime: <input type="text" placeholder="uporabnisko ime" required /><br />
			Elektronski naslov: <input type="email" placeholder="elektronski naslov" required /><br />
			Geslo: <input type="text" placeholder="geslo" required /><br />
			Geslo: <input type="text" placeholder="geslo" required /><br />
			<input class="gumb" type="submit" value="Potrdi" /><br />
		</form>
    </div>
	
	<footer>
        <p>Jan Gersak, FRI UL, 2016/2017 ©</p>
    </footer>
	
</body>
</html>
